/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    outline: none;
}

/*VARIAVEIS*/
:root {
    --primary-color: #7F4DDC;
    --secondary-color: #F9F9F9;
    --tertiary-color: #13131F;
    --fourth-color: #212121F9;
    --fiveth-color: rgb(255, 0, 0);
}

/*ESTILO DA PAGINA*/
body {
    background-color: var(--tertiary-color);
}

/*ESTILO DO CONTAINER*/
.container {
    max-width: 450px;
    margin: 100px auto;
    background-color: var(--fourth-color);
    padding: 30px;

    border-radius: 5px;
}

/*ESTILO DO TITULO*/
h1 {
    color: var(--secondary-color);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 0.5em;
}

/*ESTILO DO CARRINHO*/
.cart i {
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    margin-bottom: 0.3em;
    font-size: 2.5rem;

}

/*ESTILO DO INPUT*/
input {
    width: 70%;
    padding: 15px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-weight: 600;
}

/*ESTILO DO BOTAO*/
button {
    width: 28%;
    padding: 15px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: .3s ease;
    font-weight: bold;
    border-radius: 0 5px 5px 0;
}

/*ESTILO DO BOTAO HOVER E ACTIVE*/
button:hover {
    opacity: 1;
}

button:active {
    transform: scale(0.98);
}

/*ESTILO DA LISTA*/
ul {
    list-style: none;

}

/*ESTILO DAS TAREFAS*/
li {
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    text-align: left;
}


/*ESTILO DOS ICONES*/
li .fa-trash {
    cursor: pointer;
    transition: .3s ease;
    float: right;
}

li .fa-check {
    color: green;
    float: left;
    margin-right: 15px;
    cursor: pointer;
}



/*ESTILO DOS ICONES HOVER E ACTIVE*/
li .fa-trash:hover {
    color: var(--fiveth-color);
}

i:active {
    transform: scale(0.98);
}

/*ESTILO DO ERROR*/
#error {
    text-align: center;
    margin-top: 15px;

}




/*MEDIA QUERIES*/
@media (max-width: 480px) {
    .container {
        max-width: 90%;
        margin: 100px auto;
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    input {
        width: 100%;
        border-radius: 5px;
    }

    button {
        margin-top: 10px;
        width: 100%;
        font-size: 0.8rem;
        border-radius: 5px;
        padding: 15px;
    }

    li {
        padding: 20px;
    }

    li .fa-check,
    li .fa-trash {
        font-size: 1.4rem;
    }




}